{% extends 'base.html.twig' %}

{% block title %}
	{{ 'order.submit_success'|trans }}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-body text-center">
				<h1 class="card-title text-success mb-4">
					<i class="fas fa-check-circle"></i>
					{{ 'order.success_message'|trans }}
				</h1>
				<p class="card-text">{{ 'order.number'|trans }}:
					{{ order.id }}</p>
				<p class="card-text">{{ 'order.total'|trans }}: €{{ order.totalAmount }}</p>
				<p class="card-text">{{ 'order.processing_message'|trans }}</p>
				<div class="mt-4">
					<a href="{{ path('app_shop') }}" class="btn btn-primary">{{ 'shop.continue_shopping'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
